html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

body {
    background-color: rgb(6, 113, 194);

    font-family: monospace;

    color: black;

    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 1%;
    background-color: #2595eb;

    text-align: center;
}

.util-functions {
    padding: .5vw;
}

button {
    margin: 2px;
    font-weight: 600;
}

.bold {
    font-weight: 600;
}

h1 {
    margin: 0;
}

.invisible {
    opacity: 0;
    position: absolute;
    display: none;
}

.grand-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.data-container-wrapper {
    flex: 1;
    max-width: 25em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: center;
}

#wrapper-men {
    border-right: 1px solid black;
}

.column-container {
    display: flex;
    flex-direction: column;
    float: left;
}

.info-container {
    width: 100%;
    /* max-width: 300px; */
    margin-bottom: 2px;
}

.info-item {
    padding: 5px;
    text-align: center;
    margin: 0;
}

span {
    float: left;
}

.copy-button {
    float: right;
    padding-left: .5em;
    padding-right: .5em;
    cursor: pointer;
    scale: .8;
}

.copy-button:hover {
    background-color: rgba(255, 255, 255, 0.651);
}

.info-date {
    background-color: #f7b801;

    /* dropdown */
    cursor: pointer;
}

.info-date:hover {
    background-color: #ffc726;
}

.dropdown {
    position: relative;
}

.info-location {
    background-color: #FFD57E;
}

.info-club {
    background-color: #FFEFA0;
}

.info-time {
    background-color: #FFD57E;
}

.info-margin {
    background-color: #FFEFA0;
}

.info-crew {
    background-color: #FFD57E;
}

.info-note {
    background-color: #FFEFA0;
}

.info-source {
    background-color: #FFD57E;
}